<div class="row" style="width:300px;margin-left:100px">
  <div class="row">
      <div class="col-xs-6">Total</div>
  </div>
  <hr>
  <div class="row">
      <div class="col-xs-6">
        Items({{items.length}}) :
      </div>
      <div class="col-xs-6"> 
        ${{itemsTotal}}    
      </div>
  </div>
  <div class="row">
      <div class="col-xs-6">
        Discount
      </div>
      <div class="col-xs-6"> 
        {{discount}}    
      </div>
  </div>  
  <div class="row">
      <div class="col-xs-6">
        Type Discount
      </div>
      <div class="col-xs-6">     
        {{typeDiscount}}
      </div>
  </div>  
  <hr>
  <div class="row">
      <div class="col-xs-6">
        Order Total
      </div>
      <div class="col-xs-6">    
        {{orderTotal}} 
      </div>
  </div>  
</div>
